body {
  background-color: #000;
  overflow: hidden;
}

.intro1 {
  z-index: 2;
  border-bottom: 1px solid white;
  width: 50%;
  height: 1px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: sep1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes sep1 {
  50% {
    transform-origin: center; 
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    transform-origin: center; 
    transform: translate(-50%, -50%) rotate(90deg) translateY(-5000px);
  }
}

.intro2 {
  z-index: 2;
  border-bottom: 1px solid white;
  width: 50%;
  height: 1px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: sep2;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes sep2 {
  50% {
    transform-origin: center; 
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    transform-origin: center; 
    transform: translate(-50%, -50%) rotate(90deg) translateY(5000px);
  }
}

.sq1 {
  z-index: 2;
  background-color: #3e3e62;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  position: absolute;
  animation-name: leave1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.sq2 {
  z-index: 2;
  background-color: #3e3e62;
  height: 100%;
  width: 50%;
  top: 0;
  left: 50%;
  position: absolute;
  animation-name: leave2;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes leave1 {
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform-origin: center;
    transform: translate(-5000px);
  }
}

@keyframes leave2 {
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform-origin: center;
    transform: translate(5000px);
  }
}